* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.Formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-right: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    position: relative;
}
.Formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.7);
}
.Formulario__input, .Formulario__label, .Formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}
.Formulario__input {
    padding: 20px;
    background:transparent;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}
.Formulario__input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.7);
}
.Formulario__input:focus + .Formulario__label {
    margin-top: -135px;
}
.Formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20px;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.Formulario__submit {
    background: rgba(0, 0, 0, 0.7);
    color: seashell;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.Fijar {
    margin-top: auto-135px;
}


   
 